#countryContainer figure{
    height: 150px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
#countryContainer figure img{
    height: 100%;
    width: 100%;
}
#countryContainer .about{
    height: 80px;
    overflow-y: auto;
}